//Import Paletteernate scss files
@import "../Styles/colors.scss";
body {
  background-color: whitesmoke;

  .App {
    font-family: Verdana, sans-serif;
    width: 100vw;

    .home-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .overlay-feature {
        display: flex;
        align-items: center;
        margin: 3rem 0;
        height: 600px;
        width: 90%;
        border: 2px solid gray;
        border: 1px solid whitesmoke;

        .media-container {
          background-image: url(../Assets/glasses-city.jpeg);
          background-position: center;
          background-size: cover;
          height: 100%;
          width: 70%;
          border-radius: 5px;
        }

        .text-card {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          z-index: 3;
          left: 40%;
          height: 300px;
          width: 50%;
          background: $Palette-Matte-Teal;
          color: $Palette-Dark-Text;
          border-radius: 5px;
          // opacity: 0.9;
          // box-shadow: 5px 5px 5px grey;
          .title {
            font-size: xx-large;
            font-weight: 600;
            // margin-left: 20px;
          }

          .body {
            font-size: larger;
            width: 75%;
            text-align: center;
            // margin-left: 20px;
          }

          .buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            // margin-left: 20px;
            .primary-button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25%;
              border: 3px solid $Palette-Gold;
              padding: 4px;
              margin-right: 1rem;
            }

            .primary-button:hover {
              background-color: $Palette-Gold;
              color: black;
              cursor: pointer;
            }

            .secondary-button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25%;
              border: 3px solid $Palette-Gold;
              padding: 4px;
              margin-right: 1rem;
            }

            .secondary-button:hover {
              background-color: $Palette-Gold;
              color: black;
              cursor: pointer;
            }
          }
        }
      }
    }

    .navbar-container {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 4rem;
      background-color: $Palette-Matte-Teal;

      .company-title-home-nav {
        font-size: 2rem;
        color: $Palette-Dark-Text;
        margin-left: 1rem;
      }

      .page-links {
        font-size: 1rem;
        margin-left: 2rem;
        max-height: 100%;
        display: flex;
        color: $Palette-Dark-Text;

        .nav-mens,
        .nav-womens,
        .nav-kids,
        .nav-sunglasses,
        .nav-contacts {
          padding: 1rem;
        }
        .nav-mens:hover,
        .nav-womens:hover,
        .nav-kids:hover,
        .nav-sunglasses:hover,
        .nav-contacts:hover {
          background-color: $Palette-Gold;
          color: $Palette-Matte-Teal;
          cursor: pointer;
        }
      }
    }
    .cards-container {
      display: flex;
      justify-content: space-evenly;
      width: 90vw;
      margin: 2rem 0;

      .card-container {
        box-shadow: 5px 5px 5px grey;
      }
    }
  }
}
